@import "tailwindcss";


@theme {
  --color-primary: #7F00FF;
  --color-secondary: #B266FF;
  --color-accent: #FFD700;
  --color-background: #F5F3FF;
  --color-darkBg: #1E1B29;
  --color-darkText: #E0D9FF;

  --font-display: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
:root {
  scroll-padding-top: 80px; 
}

body {
  font-family: var(--font-display);
  background-color: var(--color-background);
  color: var(--color-darkBg);
}
